<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pagamento.css">
    <title>Página de Compra</title>
</head>
<body>
    <div class="container">
        <h1>Escolha seu método de pagamento</h1>
        <form method="POST">
            <div class="radio-group">
                <label>
                    <a href="/pagamentocartao" class="button">Cartão</a>
                </label>
                <label>
                    <a href="/pagamentopix" class="button">Pix</a>
                </label>
            </div>
        </form>
    </div>
</body>
</html>
